<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Weather</title>
</head>

<body>
    <div><br></div>
    <div class="blur">
        <header class="head">
        <h1 class="heading">Cloud Burst &#160</h1><h1 class="heading text-2" data-value="Analyzer">Analyzer</h1>
      </header>
        
        <h4 class='inner'>
            A website for analyzing meterological parameters and weather pattern and providing valuable information for
            predecting the  possibilty for <br>cloud burst
        </h4>
<div class="but">
        <div class="wrapper">
            <a class="link" href="/home/information" target="_blank">
              <div class="color"></div>
              <span>Get Started</span>
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
    </div>
   </div> 
    <script src="/javascript/home.js"></script>
    <script src="/javascript/home2.js"></script>



</body>

</html>